<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
      <title>Capstone - {{ title }}</title>
    {% else %}
      <title>Capstone</title>
    {% endif %}
    <!--<link rel="stylesheet" href="./style.scss">-->
    <!--<link rel="icon" href="./favicon.ico" type="image/x-icon">-->
  </head>
  <body>
    <main>
        <h1>Welcome</h1>
    </main>

    {% for i in test_data %}
      <h3>{{ i.first }}</h3>
      <h3>{{ i.last }}</h3>
    {% endfor %}

	<!--<script src="index.js"></script>-->
  </body>
</html>