<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Machine Learning Capstone Project</title>
    {% endif %}
    <link rel="stylesheet" href="../static/scss/style.scss">
  </head>
  <body>
    <main>
        <h1>Welcome</h1>
    </main>

    {% for i in test_data %}
      <h3>{{ i.first }}</h3>
      <h3>{{ i.last }}</h3>
    {% endfor %}

	<script src="../static/js/script.js"></script>
  </body>
</html>